@import url('https://fonts.google.apis.com/css?family=Poppins:400:400:700');

html, body{
    height:100%;
    width:100%;
    font-family:'Poppins', sans-serif;
    color:#222;
}
.navbar{
    padding:.8rem;
}
/* .navbar2 a{
    margin-right:10px
} */

.carousel-caption h1{
    text-shadow:10px 10px 10px #000;
    font-weight:500%;

}
.carousel-caption{
    text-shadow:10px 10px 10px #000;
    font-weight:500%;

}
.jumbotron{
    padding:1rem;
    border-radius:0;
    background-color:rgb(80, 177, 233);
}
#out{
    background-color:yellow;
}
/*card*/

/*list-group*/
.list-group li:hover{
    text-decoration:underline;
    color:black;
}
/*full container*/
.full{
    background-color:rgb(103, 103, 179);
    padding-top:5px;
    padding-bottom:5px;
}
.foot{
    background-color: rgb(39, 47, 59);
    padding-top:10px;
    padding-bottom:10px;

}
.fa{
    color:white;
}
.foot-text{
    font-size:10px;
}
.foot span:hover{
    text-decoration:underline;
    color:rgb(228, 169, 169);
}